/* index.css */

@media (min-width: 1368px) {
  #question{
    justify-content: start;
  }
  .lesson-box {
    order: 1;
  }

  .question-box {
    position: fixed !important;
    width: 25%;
    right: 0;
    order: 2;
  }
}

@media (max-width: 1368px) {
  .lesson-box {
    width: 100% !important;
    order: 2;
  }

  .question-box {
    margin-top: 10px;
    width: 100% !important;
    order: 1;
  }
}

.p-image-preview-enter-done .p-image-preview{
  scale: 3;
}
