/* styles.css */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* color of the track */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888; /* color of the scrollbar */
    border-radius: 4px; /* roundness of the scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* color of the scrollbar on hover */
  }
  